*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  background-color: black;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom: 20px;
}

.btn{
  padding: 30px;
  font-size: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: black;
  margin-bottom: 20px;
}

.btn:hover{
  cursor: pointer;
}

.paper, .scissor{
  margin-left: 20px;
}

.reset{
  padding: 10px;
  font-size: 15px;
  display: block;
  margin-top: 20px;
}

.reset:hover{
  cursor: pointer;
}

p{
  margin-bottom: 20px;
  font-size: 20px;
}

.result{
  font-size: 30px;
}

.container .turn{
  margin-bottom: 20px;
}

.you, .comp{
  display: inline;
  margin-right: 20px;
}

.score{
  margin-bottom: 40px;
}

.wins, .losses, .ties{
  display: inline;
  margin-right: 20px;
}